/* #afd3f5 */

.main-container{
    width: 65vw;
    height: 65vh;
    backdrop-filter: blur(10px) saturate(181%);
    -webkit-backdrop-filter: blur(10px) saturate(181%);
    background-color: rgba(175, 211, 245, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

/* .home{
    background-image: url(../../assets/images/eye.png);
} */

.pink-btn{
    background-color: #ff81d8 !important;
}

.main-btn{
    border-radius: 10px;
    background:rgba(225, 181, 232, 1);
    color: #0a2f5e !important;
}

.btn{
    color: #0a2f5e;
}