
.slider-container{
    width: 60vw;
    color: black;
}

.pink-glass-filter{
    backdrop-filter: blur(10px) saturate(181%);
    -webkit-backdrop-filter: blur(10px) saturate(181%);
    background-color: rgba(225, 181, 232, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.blue-glass-filter{
    backdrop-filter: blur(10px) saturate(181%);
    -webkit-backdrop-filter: blur(10px) saturate(181%);
    background-color: rgba(175, 211, 245, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.blue-text{
    color: #0a2f5e;
}

.blue-back{
    background: #465484;
}

.white-back{
    background: white;
}

.pink-back{
    background: #e1b5e8;
}

.pink-text{
   color: rgba(225, 181, 232, 1);
}

.lenses-list{
    /* background: #f7fbfe;
    backdrop-filter: blur(10px) saturate(181%);
    -webkit-backdrop-filter: blur(10px) saturate(181%);
    background-color: rgba(225, 181, 232, 0.4); */
}

.lense-container{
    width: 25vw;
    height: 20vh;
}

.lense-description{
    display: none;
    transition: width 0.8s, height 0.9s;
}

.lense-img-container{
    width: 20vw;
    height: 20vh;
    transition: width 0.8s;
}

.lense-container:hover {
    animation: ease-in-out ;
}

.lense-container:hover .lense-img-container{
    animation: ease-in;
    width: 0;
    /* height: 0; */
}

.lense-container:hover .lense-description{
    animation: ease-in;
    width: 20vw;
    height: 20vh;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.review-image{
width: 200px;
height: 200px;
border-radius: 50%;
}

.description{
    background-image: url('./../../assets/images/gradient-unsplash.jpg');
}