.slider-container {
    width: 60vw;
    color: black;
}

.pink-glass-filter {
    backdrop-filter: blur(10px) saturate(181%);
    -webkit-backdrop-filter: blur(10px) saturate(181%);
    background-color: rgba(225, 181, 232, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.blue-glass-filter {
    backdrop-filter: blur(10px) saturate(181%);
    -webkit-backdrop-filter: blur(10px) saturate(181%);
    background-color: rgba(175, 211, 245, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.blue-text {
    color: #0a2f5e;
}

.blue-back {
    background: #465484;
}

.white-back {
    background: white;
}

.pink-back {
    background: #e1b5e8;
}

.pink-text {
    color: rgba(225, 181, 232, 1);
}

.lenses-list {
    /* background: #f7fbfe;
    backdrop-filter: blur(10px) saturate(181%);
    -webkit-backdrop-filter: blur(10px) saturate(181%);
    background-color: rgba(225, 181, 232, 0.4); */
}

.lense-container {
    margin-right: 3vw;
    width: 40vw;
    height: 35vh;
}

.lense-description {
    display: none;
}

.lense-img-container {
    width: 60%;
    height: 100%;
    transition: width 1s;
}

.lense-container:hover {
    animation: ease-in-out;
}

.lense-container:hover .price{
    display: none;
}

.lense-container:hover .lense-img-container {
    animation: ease-in;
    width: 0;
    /* height: 0; */
}

.lense-container:hover .lense-description {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #0a2f5e;
    animation: opaqueAnimation 3s;
    height: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.review-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.description {
    background-image: url('./../../assets/images/gradient-unsplash.jpg');
}

.carousel-caption {
    position: initial !important;
}

.carousel-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.price{
    position: absolute;
    text-align: center;
    background: #0a305f;
    top: 30px;
    width: 35%;
}

.lense-animation{
    width: 30vw;
}

@keyframes opaqueAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (width: 668px) {
    .lense-container h {
        font-size: 15px;
        height: 35vh;
    }
}

@media (max-width: 668px) {
    .lense-container h {
        font-size: 15px;
        height: 35vh;
    }

    .lense-container {
        width: 80vw;
    }

    .lense-animation {
        width: 100vw !important;
    }
}